/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/utilities"; */
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links";
@import "compass/typography";
@import "compass/typography/text";
@import "compass/typography/vertical_rhythm";
@import "utils/variables";
@import "utils/mixins";

@import "base/reset";
@import "icons/icons";
@import "compass/typography/lists/horizontal-list";
@import "layout/navigation";

@import "layout/product";
@import "pro-img/_pro-image";





/*index*/


/*banner下面*/
.img-dt {
    width: $container-width;
    margin: 0px auto;
    height: 205px;
    padding-bottom: 15px;
}
.img-dt-item {
   padding-top: 40px;
  & li{ float:left;
  	    margin-right: 21px;
        position: relative;
        height: 116px;
        width: 209px;
       }

  &.img_dh1 {
       background: $drimg+"img-d4";
      display: inline-block;
      width: 77px;
      height: 78px;
      margin-top: 16px;
   }
}
.img-text-title{     display: inline-block;
    padding-right: 9px;
    color: $color-blue;
    font-size: 16px;
    margin-left: -23px;
    position: absolute;
    top: 74px;}

.img-text-item {
    padding-left: 54px;
    font-size: 14px;
    color: #808080;
    margin-top: 5px;
    position: absolute;
    top: 94px;
}

/*qq*/
.left-bar .tel{
  color: $color;
}
.left-bar{
  float: left;  line-height: 30px;
}
.qq {
  width: 15px;
  height: 15px;
  margin-left:10px;
  float: right;
  padding-top: 9px;
}
.top_com {
  display: block;
  width: 15px;
  height: 15px;
  float: right;
}
.top03{
  @include  bar-sprite("qq");
}
.top02{
  @include  bar-sprite("weibo");
}
.top01{
  @include  bar-sprite("weixin");
}
.top-bar{
  width:$container-width;
  margin: 0 auto;
}
.warp-bar{ background: #f3f3f3;
             height: 30px; }

.clearfix {
 @include pie-clearfix();
}
.right-bar{
  float: right;
}

.right-bar-login {
  @include  inline-block-list();
  float: right;
  line-height: 30px;
  & li a{
    font-size: $font-size;
    font-family: $ft-md;
    text-align: center;
    color: $color;
    padding: 0px 10px;
  }
 }





