/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/utilities"; */
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links";
@import "compass/typography";
@import "compass/typography/text";
@import "compass/typography/vertical_rhythm";
@import "utils/variables";
@import "utils/mixins";


/*index*/

.warp{
	@include warpwidth;
    & .logo-img{
    	float: left;
    }
}

.nav-box {
  float: right; padding-top: 30px;
  & li{
    float: left;
  }
  & li a{
    padding: 0px 30px; font-size: 14px; color: #4f4f4f;text-decoration: none; border-right: 1px solid #dadada;
  }
}
.banner-img{ width:100%; background:url("../image/banner-img.jpg") no-repeat scroll center center transparent; display: inline-block;height: 420px; }


/*banner下面*/

.img-dt {
    width: $container-width;
    margin: 0px auto;
    height: 205px;
    padding-bottom: 15px;
}


.img-dt-item {
   padding-top: 40px;
  & li{ float:left;
  	    margin-right: 21px;
        position: relative;
        height: 116px;
        width: 209px;
       }
  &.img_dh1 {
       background: $drimg+"img-d4";
      display: inline-block;
      width: 77px;
      height: 78px;
      margin-top: 16px;
   }
}
.img-text-title{     display: inline-block;
    padding-right: 9px;
    color: $color-blue;
    font-size: 16px;
    margin-left: -23px;
    position: absolute;
    top: 74px;}

.img-text-item {
    padding-left: 54px;
    font-size: 14px;
    color: #808080;
    margin-top: 5px;
    position: absolute;
    top: 94px;
}

.pro1-con-item{
	@include warpwidth;
	postion:relative;
}
.pro1-img-bg{
     @include bg-img-inedx;
	background: $drimg +"pro-bg-m1.png";
	height:580px;
}
