/*!
 *@fileName:_grid.scss
 *@autor:huyandong
 *@copy:Beijing Rongle Information Science & Technology Co.,Ltd
 *@disc:
 */

.center-main{
  margin: 0 auto;
  background-color: #f6f6f6;
}

/**
 *@autor:huyandong
 *@time:2016-03-11 17:41:58
 *@disc:
 */
aside{
  @include stretch(150px,50px,150px,50px);
  //@mixin pretty-bullets($bullet-icon, $width: image-width($bullet-icon), $height: image-height($bullet-icon), $line-height: 18px, $padding: 14px) {
  @include pretty-bullets("c-aside.png",0px,-51px);
  line-height: 48px;
  min-width: 1000px;
  background-color: #fdb323;
}
