*.scssc
node_modules/*
stylesheets/*
.idea/vcs.xml
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/sass-safetou.iml
.idea/workspace.xml
README.md
.idea/watcherTasks.xml
.idea/libraries/compass_library.xml