/*整体宽度*/
$container-width:1000px;

/*banner下面背景*/
/* $index-image-bg: url("../image/img-d1.png") no-repeat scroll 0% 0% transparent; */

/*局部蓝色字*/
$color-blue:#0070CD;

/*址*/
/* $redbg：url("..image/pro-bg-m1.png") no-repeat scroll 0% 0% transparent; */
$drimg:"../image/"

